# Fintech Sector Portfolio Analysis

(Insert project description)

In [1]:
import pandas as pd
from pathlib import Path
from MCForecastTools import MCSimulation
import yfinance as yf

## Collect and Clean Data

### Get 5 years of data for Paytech sector - PayPal, Square, and MasterCard

In [2]:
# create yfinance ticker object for paytech stocks
paytech_tickers = yf.Tickers('pypl sq ma')

In [3]:
# create pandas DataFrames for 5 years worth of data for each stock 
pypl_df = paytech_tickers.tickers['PYPL'].history(period='5y')
sq_df = paytech_tickers.tickers['SQ'].history(period='5y')
ma_df = paytech_tickers.tickers['MA'].history(period='5y')

print('PayPal DataFrame')
display(pypl_df.head())
display(pypl_df.tail())

print('Square DataFrame')
display(sq_df.head())
display(sq_df.tail())

print('MasterCard DataFrame')
display(ma_df.head())
display(ma_df.tail())

PayPal DataFrame

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-12-04 00:00:00-05:00,75.589996,75.744003,68.610001,70.970001,26283600,0,0
2017-12-05 00:00:00-05:00,69.809998,72.750000,69.610001,71.199997,16634000,0,0
2017-12-06 00:00:00-05:00,70.889999,73.199997,70.830002,73.139999,9331400,0,0
2017-12-07 00:00:00-05:00,73.250000,74.069000,73.250000,73.690002,7937700,0,0
2017-12-08 00:00:00-05:00,74.709999,74.709999,72.599998,72.910004,8350400,0,0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-11-28 00:00:00-05:00,79.930000,82.919998,79.639999,79.930000,11282600,0,0
2022-11-29 00:00:00-05:00,79.230003,80.750000,77.260002,77.639999,15491100,0,0
2022-11-30 00:00:00-05:00,77.699997,79.110001,75.320000,78.410004,25747300,0,0
2022-12-01 00:00:00-05:00,79.110001,80.746002,78.139999,78.529999,15189000,0,0
2022-12-02 00:00:00-05:00,76.820000,77.059998,74.519997,74.660004,22989424,0,0

Square DataFrame

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-12-04 00:00:00-05:00,38.410000,38.689999,35.900002,36.869999,29566900,0,0
2017-12-05 00:00:00-05:00,36.750000,38.590000,36.740002,37.599998,21276200,0,0
2017-12-06 00:00:00-05:00,37.730000,39.770000,37.270000,37.610001,28820400,0,0
2017-12-07 00:00:00-05:00,39.325001,39.459999,37.959999,38.730000,23721600,0,0
2017-12-08 00:00:00-05:00,39.610001,39.790001,37.939999,38.090000,20917800,0,0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-11-28 00:00:00-05:00,61.910000,63.830002,61.119999,61.369999,7239900,0,0
2022-11-29 00:00:00-05:00,62.070000,63.889999,61.730000,62.110001,8219900,0,0
2022-11-30 00:00:00-05:00,62.099998,68.000000,61.852001,67.769997,14298600,0,0
2022-12-01 00:00:00-05:00,68.019997,69.239998,66.660004,69.169998,9430000,0,0
2022-12-02 00:00:00-05:00,67.269997,68.940002,66.620102,68.180000,7279100,0,0

MasterCard DataFrame

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-12-04 00:00:00-05:00,145.915705,146.567808,139.550392,139.599045,7490100,0.0,0
2017-12-05 00:00:00-05:00,139.861819,142.411849,136.854355,141.253632,6807100,0.0,0
2017-12-06 00:00:00-05:00,141.195274,144.115146,140.757282,143.482498,3752000,0.0,0
2017-12-07 00:00:00-05:00,143.570096,146.392648,143.570096,145.458282,3417900,0.0,0
2017-12-08 00:00:00-05:00,146.402317,146.421787,145.185704,145.886475,2521500,0.0,0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-11-28 00:00:00-05:00,346.679993,350.230011,343.230011,344.589996,2226200,0.0,0
2022-11-29 00:00:00-05:00,343.649994,344.720001,340.750000,343.130005,1724200,0.0,0
2022-11-30 00:00:00-05:00,342.850006,356.399994,341.480011,356.399994,4252300,0.0,0
2022-12-01 00:00:00-05:00,357.989990,361.579987,354.049988,360.799988,3374700,0.0,0
2022-12-02 00:00:00-05:00,357.450012,362.285004,356.059998,360.059998,1903921,0.0,0

In [4]:
# select only the close column from the DataFrames  
pypl_df = pypl_df[['Close']]
sq_df = sq_df[['Close']]
ma_df = ma_df[['Close']]

# concat close data into one DataFrame
paytech_daily_returns = pd.concat([pypl_df, sq_df, ma_df], axis=1)

# rename columns to each stock ticker instead of just Close
paytech_daily_returns.columns = ['PYPL', 'SQ', 'MA']

display(paytech_daily_returns.head())
display(paytech_daily_returns.tail())

                                PYPL         SQ          MA
Date
2017-12-04 00:00:00-05:00  70.970001  36.869999  139.599045
2017-12-05 00:00:00-05:00  71.199997  37.599998  141.253632
2017-12-06 00:00:00-05:00  73.139999  37.610001  143.482498
2017-12-07 00:00:00-05:00  73.690002  38.730000  145.458282
2017-12-08 00:00:00-05:00  72.910004  38.090000  145.886475

                                PYPL         SQ          MA
Date
2022-11-28 00:00:00-05:00  79.930000  61.369999  344.589996
2022-11-29 00:00:00-05:00  77.639999  62.110001  343.130005
2022-11-30 00:00:00-05:00  78.410004  67.769997  356.399994
2022-12-01 00:00:00-05:00  78.529999  69.169998  360.799988
2022-12-02 00:00:00-05:00  74.660004  68.180000  360.059998

In [5]:
# convert the closing prices to daily returns 
paytech_daily_returns = paytech_daily_returns.pct_change().dropna()

display(paytech_daily_returns.head())
display(paytech_daily_returns.tail())

                               PYPL        SQ        MA
Date
2017-12-05 00:00:00-05:00  0.003241  0.019799  0.011852
2017-12-06 00:00:00-05:00  0.027247  0.000266  0.015779
2017-12-07 00:00:00-05:00  0.007520  0.029779  0.013770
2017-12-08 00:00:00-05:00 -0.010585 -0.016525  0.002944
2017-12-11 00:00:00-05:00  0.005212  0.005513  0.006605

                               PYPL        SQ        MA
Date
2022-11-28 00:00:00-05:00 -0.001873 -0.031714 -0.019073
2022-11-29 00:00:00-05:00 -0.028650  0.012058 -0.004237
2022-11-30 00:00:00-05:00  0.009918  0.091129  0.038673
2022-12-01 00:00:00-05:00  0.001530  0.020658  0.012346
2022-12-02 00:00:00-05:00 -0.049280 -0.014313 -0.002051

### Get 5 years of data for Insurtech sector - (stocks TBD)

### Get 5 years of data for Wealthtech sector = (stocks TBD)

## Data Analysis and Calculations

# Monte Carlo Simulations