# Fintech Sector Portfolio Analysis

(Insert project description)

(Insert table of contents with clickable anchor links)

In [1]:
import pandas as pd
from pathlib import Path
from MCForecastTools import MCSimulation
import yfinance as yf

## Collect and Clean Data

### Create a function to generate a daily returns DataFrame for a given list of stocks within a fintech sector

In [2]:
def get_daily_returns_df(yf_tickers, ticker_names, period):
    """
    Returns a pandas DataFrame where each column are daily returns for the provided stocks. 
    Prints out each step of the data
    
    Parameters
    ----------
    yf_tickers: yfinance.Tickers()
        a yfinance Tickers object containing desired stocks, currently assumes that there will be 3 stocks 
    ticker_names: list(str)
        a python list of ticker strings, assumes that the length of the list is equal to the number of stocks in yf_tickers
    period: str
        a python string that correlates to yfinance.Tickers() period parameter (ex: '1d', '2m', '5y', etc.)
        
    Returns
    -------
    pandas.DataFrame
        concatenated DataFrame with each stock's daily return data
    
    """
    
    # create pandas DataFrames for each stock in the yf ticker object, based on provided time period
    t1_df = yf_tickers.tickers[ticker_names[0]].history(period=period)
    t2_df = yf_tickers.tickers[ticker_names[1]].history(period=period)
    t3_df = yf_tickers.tickers[ticker_names[2]].history(period=period)

    # print out each DataFrame to verify data collection 
    print(f'{ticker_names[0]} DataFrame')
    display(t1_df.head())
    display(t1_df.tail())

    print(f'{ticker_names[1]} DataFrame')
    display(t2_df.head())
    display(t2_df.tail())

    print(f'{ticker_names[2]} DataFrame')
    display(t3_df.head())
    display(t3_df.tail())
    print('\n')

    # select only the close column from the DataFrames 
    t1_df = t1_df[['Close']]
    t2_df = t2_df[['Close']]
    t3_df = t3_df[['Close']]

    # concat close data into one DataFrame 
    daily_returns_df = pd.concat([t1_df, t2_df, t3_df], axis=1)

    # rename columns to each stock ticker instead of just "Close"
    daily_returns_df.columns = ticker_names

    # print out the resulting DataFrame to verify correct closing price data
    print(f'Closing price DataFrame for {ticker_names[0]}, {ticker_names[1]}, {ticker_names[2]}')
    display(daily_returns_df.head())
    display(daily_returns_df.tail())
    print('\n')

    # convert closing prices to daily returns 
    daily_returns_df = daily_returns_df.pct_change().dropna()

    # print final daily returns DataFrame
    print(f'Daily returns DataFrame for {ticker_names[0]}, {ticker_names[1]}, {ticker_names[2]}')
    display(daily_returns_df.head())
    display(daily_returns_df.tail())

    return daily_returns_df

### Get 5 years of data for Paytech sector - PayPal, Square, and MasterCard

In [3]:
# create yfinance ticker object for paytech stocks
paytech_tickers = yf.Tickers('pypl sq ma')

# use tickers and 5 year period to get 5 years of paytech stock data 
paytech_daily_returns =  get_daily_returns_df(paytech_tickers, ['PYPL', 'SQ', 'MA'], '5y')

PYPL DataFrame

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-12-04 00:00:00-05:00,75.589996,75.744003,68.610001,70.970001,26283600,0,0
2017-12-05 00:00:00-05:00,69.809998,72.750000,69.610001,71.199997,16634000,0,0
2017-12-06 00:00:00-05:00,70.889999,73.199997,70.830002,73.139999,9331400,0,0
2017-12-07 00:00:00-05:00,73.250000,74.069000,73.250000,73.690002,7937700,0,0
2017-12-08 00:00:00-05:00,74.709999,74.709999,72.599998,72.910004,8350400,0,0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-11-28 00:00:00-05:00,79.930000,82.919998,79.639999,79.930000,11282600,0,0
2022-11-29 00:00:00-05:00,79.230003,80.750000,77.260002,77.639999,15491100,0,0
2022-11-30 00:00:00-05:00,77.699997,79.110001,75.320000,78.410004,25747300,0,0
2022-12-01 00:00:00-05:00,79.110001,80.746002,78.139999,78.529999,15189000,0,0
2022-12-02 00:00:00-05:00,76.820000,77.059998,74.519997,74.660004,24212900,0,0

SQ DataFrame

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-12-04 00:00:00-05:00,38.410000,38.689999,35.900002,36.869999,29566900,0,0
2017-12-05 00:00:00-05:00,36.750000,38.590000,36.740002,37.599998,21276200,0,0
2017-12-06 00:00:00-05:00,37.730000,39.770000,37.270000,37.610001,28820400,0,0
2017-12-07 00:00:00-05:00,39.325001,39.459999,37.959999,38.730000,23721600,0,0
2017-12-08 00:00:00-05:00,39.610001,39.790001,37.939999,38.090000,20917800,0,0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-11-28 00:00:00-05:00,61.910000,63.830002,61.119999,61.369999,7239900,0,0
2022-11-29 00:00:00-05:00,62.070000,63.889999,61.730000,62.110001,8219900,0,0
2022-11-30 00:00:00-05:00,62.099998,68.000000,61.852001,67.769997,14298600,0,0
2022-12-01 00:00:00-05:00,68.019997,69.239998,66.660004,69.169998,9430000,0,0
2022-12-02 00:00:00-05:00,67.269997,68.940002,66.620003,68.180000,7716000,0,0

MA DataFrame

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-12-04 00:00:00-05:00,145.915673,146.567776,139.550362,139.599014,7490100,0.0,0
2017-12-05 00:00:00-05:00,139.861819,142.411849,136.854355,141.253632,6807100,0.0,0
2017-12-06 00:00:00-05:00,141.195229,144.115100,140.757237,143.482452,3752000,0.0,0
2017-12-07 00:00:00-05:00,143.570066,146.392617,143.570066,145.458252,3417900,0.0,0
2017-12-08 00:00:00-05:00,146.402333,146.421803,145.185720,145.886490,2521500,0.0,0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-11-28 00:00:00-05:00,346.679993,350.230011,343.230011,344.589996,2226200,0.0,0
2022-11-29 00:00:00-05:00,343.649994,344.720001,340.750000,343.130005,1724200,0.0,0
2022-11-30 00:00:00-05:00,342.850006,356.399994,341.480011,356.399994,4251300,0.0,0
2022-12-01 00:00:00-05:00,357.989990,361.579987,354.049988,360.799988,3374700,0.0,0
2022-12-02 00:00:00-05:00,357.450012,362.290009,356.059998,360.059998,2015500,0.0,0

Closing price DataFrame for PYPL, SQ, MA

                                PYPL         SQ          MA
Date
2017-12-04 00:00:00-05:00  70.970001  36.869999  139.599014
2017-12-05 00:00:00-05:00  71.199997  37.599998  141.253632
2017-12-06 00:00:00-05:00  73.139999  37.610001  143.482452
2017-12-07 00:00:00-05:00  73.690002  38.730000  145.458252
2017-12-08 00:00:00-05:00  72.910004  38.090000  145.886490

                                PYPL         SQ          MA
Date
2022-11-28 00:00:00-05:00  79.930000  61.369999  344.589996
2022-11-29 00:00:00-05:00  77.639999  62.110001  343.130005
2022-11-30 00:00:00-05:00  78.410004  67.769997  356.399994
2022-12-01 00:00:00-05:00  78.529999  69.169998  360.799988
2022-12-02 00:00:00-05:00  74.660004  68.180000  360.059998

Daily returns DataFrame for PYPL, SQ, MA

                               PYPL        SQ        MA
Date
2017-12-05 00:00:00-05:00  0.003241  0.019799  0.011853
2017-12-06 00:00:00-05:00  0.027247  0.000266  0.015779
2017-12-07 00:00:00-05:00  0.007520  0.029779  0.013770
2017-12-08 00:00:00-05:00 -0.010585 -0.016525  0.002944
2017-12-11 00:00:00-05:00  0.005212  0.005513  0.006605

                               PYPL        SQ        MA
Date
2022-11-28 00:00:00-05:00 -0.001873 -0.031714 -0.019073
2022-11-29 00:00:00-05:00 -0.028650  0.012058 -0.004237
2022-11-30 00:00:00-05:00  0.009918  0.091129  0.038673
2022-12-01 00:00:00-05:00  0.001530  0.020658  0.012346
2022-12-02 00:00:00-05:00 -0.049280 -0.014313 -0.002051

### Get 5 years of data for Lending sector - LendingTree, LendingClub, Black Knight

In [4]:
# create yfinance ticker object for lending stocks
lending_tickers = yf.Tickers('tree lc bki')

# use tickers and 5 year period to get 5 years of paytech stock data 
lending_daily_returns =  get_daily_returns_df(lending_tickers, ['TREE', 'LC', 'BKI'], '5y')

TREE DataFrame

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-12-04 00:00:00-05:00,309.850006,316.250000,301.450012,303.399994,246900,0,0
2017-12-05 00:00:00-05:00,301.950012,313.299988,298.609985,305.200012,185000,0,0
2017-12-06 00:00:00-05:00,305.350006,310.799988,304.200012,306.899994,190300,0,0
2017-12-07 00:00:00-05:00,307.049988,316.600006,305.980011,311.250000,125300,0,0
2017-12-08 00:00:00-05:00,314.950012,319.429993,308.899994,315.049988,258700,0,0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-11-28 00:00:00-05:00,23.379999,23.379999,22.200001,22.370001,235900,0,0
2022-11-29 00:00:00-05:00,22.500000,23.459999,22.010000,23.330000,262400,0,0
2022-11-30 00:00:00-05:00,23.200001,23.990000,21.750000,23.950001,376000,0,0
2022-12-01 00:00:00-05:00,24.000000,25.240000,23.170000,25.120001,256900,0,0
2022-12-02 00:00:00-05:00,24.250000,25.110001,23.629999,24.980000,204100,0,0

LC DataFrame

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-12-04 00:00:00-05:00,21.950001,22.275000,21.350000,21.850000,1400220,0,0.0
2017-12-05 00:00:00-05:00,21.850000,21.950001,21.250000,21.250000,1117300,0,0.0
2017-12-06 00:00:00-05:00,21.150000,21.400000,20.799999,21.250000,1079140,0,0.0
2017-12-07 00:00:00-05:00,18.549999,19.700001,16.450001,17.950001,9593000,0,0.0
2017-12-08 00:00:00-05:00,18.700001,18.700001,17.299999,17.549999,4030720,0,0.0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-11-28 00:00:00-05:00,10.37,10.470,9.920,10.06,2000200,0,0.0
2022-11-29 00:00:00-05:00,10.04,10.435,10.040,10.26,859700,0,0.0
2022-11-30 00:00:00-05:00,10.14,10.395,9.930,10.31,1532500,0,0.0
2022-12-01 00:00:00-05:00,10.42,10.550,10.195,10.24,1034500,0,0.0
2022-12-02 00:00:00-05:00,10.19,10.375,9.990,10.18,1111000,0,0.0

BKI DataFrame

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2017-12-04 00:00:00-05:00,45.299999,45.950001,44.450001,44.799999,1036300,0,0
2017-12-05 00:00:00-05:00,44.799999,45.549999,44.799999,44.900002,774600,0,0
2017-12-06 00:00:00-05:00,44.799999,45.099998,44.250000,44.349998,516100,0,0
2017-12-07 00:00:00-05:00,44.250000,45.125000,44.060001,45.049999,445400,0,0
2017-12-08 00:00:00-05:00,45.200001,45.724998,44.950001,45.549999,625700,0,0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-11-28 00:00:00-05:00,62.549999,63.060001,61.070000,61.160000,469900,0,0
2022-11-29 00:00:00-05:00,60.959999,61.639999,60.349998,60.750000,853500,0,0
2022-11-30 00:00:00-05:00,61.000000,62.299999,60.470001,61.990002,1686800,0,0
2022-12-01 00:00:00-05:00,62.040001,63.310001,61.709999,61.950001,678500,0,0
2022-12-02 00:00:00-05:00,61.040001,62.130001,60.930000,61.389999,633500,0,0

Closing price DataFrame for TREE, LC, BKI

                                 TREE         LC        BKI
Date
2017-12-04 00:00:00-05:00  303.399994  21.850000  44.799999
2017-12-05 00:00:00-05:00  305.200012  21.250000  44.900002
2017-12-06 00:00:00-05:00  306.899994  21.250000  44.349998
2017-12-07 00:00:00-05:00  311.250000  17.950001  45.049999
2017-12-08 00:00:00-05:00  315.049988  17.549999  45.549999

                                TREE     LC        BKI
Date
2022-11-28 00:00:00-05:00  22.370001  10.06  61.160000
2022-11-29 00:00:00-05:00  23.330000  10.26  60.750000
2022-11-30 00:00:00-05:00  23.950001  10.31  61.990002
2022-12-01 00:00:00-05:00  25.120001  10.24  61.950001
2022-12-02 00:00:00-05:00  24.980000  10.18  61.389999

Daily returns DataFrame for TREE, LC, BKI

                               TREE        LC       BKI
Date
2017-12-05 00:00:00-05:00  0.005933 -0.027460  0.002232
2017-12-06 00:00:00-05:00  0.005570  0.000000 -0.012250
2017-12-07 00:00:00-05:00  0.014174 -0.155294  0.015784
2017-12-08 00:00:00-05:00  0.012209 -0.022284  0.011099
2017-12-11 00:00:00-05:00 -0.019521  0.108262  0.001098

                               TREE        LC       BKI
Date
2022-11-28 00:00:00-05:00 -0.051717 -0.047348 -0.024406
2022-11-29 00:00:00-05:00  0.042915  0.019881 -0.006704
2022-11-30 00:00:00-05:00  0.026575  0.004873  0.020412
2022-12-01 00:00:00-05:00  0.048852 -0.006790 -0.000645
2022-12-02 00:00:00-05:00 -0.005573 -0.005859 -0.009040

### Get 5 years of data for Banking sector - Fiserv, Jack Henry & Associates, FIS (Fidelity National Information Services)

## Data Analysis and Calculations

# Monte Carlo Simulations